<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Class Schedule Page</h1>
    <a href="/schedule/newClass">Add a new class</a>

    <table id="lecturesTable">
      <thead>
        <tr>
          <th>Class</th>
          <th>Instructor</th>
          <th>Capacity</th>
        </tr>
      <thead>
      <tbody id="lecturesTableData">
        <% for (let i = 0; i < classes.length; i++) {%>
          <tr>

          <td>
            <a href="/schedule/<%=classes[i].id%>">
            <%=classes[i].className%>
            </a>
          </td>
          <td>
            <%=classes[i].instructor%>
          </td>
          <td>
            <%=classes[i].capacity%>
          </td>
          </tr>
        <%}%>
        </tbody>
      </table>


    </ul>
  </body>
</html>
