<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
<%- include ('./partials/head.ejs') %>
  </head>
      <%- include ('./partials/nav.ejs') %>
  <body>
    <h1>Merchandise</h1>

    <form action="/cart" method="POST">
      <input type="hidden" name="name" value="Shirt">
      <h4>T-Shirt</h4>
      <input type="hidden" name="price" value="15">
      <h4>$15</h4>
      <img src="shirt.jpeg" alt=""><br/>
      <input type="hidden" name="image" value="shirt.jpeg">
      <input type="submit" value="Add To Cart"><br>
    </form>

    <form action="/cart" method="POST">
      <input type="hidden" name="name" value="Gloves">
      <h4>Boxing Gloves</h4>
      <input type="hidden" name="price" value="30">
      <h4>$30</h4>
      <img src="gloves.jpeg" alt=""><br/>
      <input type="hidden" name="image" value="gloves.jpeg">
      <input type="submit" value="Add To Cart"><br>
    </form>

    <form action="/cart" method="POST">
      <input type="hidden" name="name" value="BJJ Gi">
      <h4>BJJ Gi</h4>
      <input type="hidden" name="price" value="80">
      <h4>$80</h4>
      <img src="gi.jpeg" alt=""><br/>
      <input type="hidden" name="image" value="gi.jpeg">
      <input type="submit" value="Add To Cart"><br>
    </form>



  </body>
</html>
