<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
<%- include ('./partials/head.ejs') %>
  </head>
  <body>
    <%- include ('./partials/nav.ejs') %>
    <h2>Add A New Class to The Schedule!</h2>
    <form action="/schedule" method="POST">
      Activity: <input type="text" name="className" value=""><br/>
      Day of The Week: <select name="date">
        <option value="Monday">Monday</option>
        <option value="Tuesday">Tuesday</option>
        <option value="Wednesday">Wednesday</option>
        <option value="Thursday">Thursday</option>
        <option value="Friday">Friday</option>
        <option value="Saturday">Saturday</option>
        <option value="Sunday">Sunday</option>
      </select><br/>
      Time: <input type="time" name="time" value=""><br/>
      Instructor: <input type="text" name="instructor" value=""/><br/>
      Capacity: <input type="text" name="capacity" value=""/><br/>
      <input type="submit" value="Add Class"><br>
      <a href="/schedule">Back to Homepage</a>
    </form>
  </body>
</html>
