<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Add A New Class to The Schedule!</h1>
    <form action="/schedule" method="POST">
      Activity: <input type="text" name="className" value=""><br/>
      Day of The Week: <input type="text" name="date" value=""/><br/>
      Instructor: <input type="text" name="instructor" value=""/><br/>
      Capacity: <input type="text" name="capacity" value=""/><br/>
      <input type="submit" value="Add Class"><br>
      <a href="/schedule">Back to Homepage</a>
    </form>
  </body>
</html>
