<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
<%- include ('./partials/head.ejs') %>
  </head>
  <body>
    <%- include ('./partials/nav.ejs') %>
    <h1>Pricing</h1>
    <div class="">
      <h2>Full MMA Membership - $5,000/mo </h2>
      <ul>
        <li>MMA</li>
        <li>BJJ</li>
        <li>Muay Thai</li>
        <li>Fitness Kickboxing</li>
        <li>CrossFit</li>
      </ul>
    </div>
    <div class="">
      <h2>Striking Membership $4,000/mo</h2>
      <ul>
        <li>Muay Thai</li>
        <li>Boxing</li>
        <li>Kickboxing</li>
      </ul>
    </div>
    <div class="">
      <h2>Fitness Membership $3,000/mo</h2>
      <ul>
        <li>CrossFit</li>
        <li>Fitness Kickboxing</li>
      </ul>
    </div>

  </body>
</html>
