<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <a href="/schedule">Back to Home</a>
    <h1>Class Details</h1>
    <p><%=classes.className%></p>
    <p><%=classes.date%></p>
    <p><%=classes.instructor%></p>
    <p><%=classes.capacity%></p>
  </body>
</html>
