body {
  text-align: center;
  background-color: black;
  color: white;
}

table, th, td {
  border: 1px solid;
}

h3 {
  border: 1px solid white;
}

.mainTable {
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style: none;
}
